.card {
  background: goldenrod;
  border-style: outset;
  border-color: goldenrod;
  border-width: 7px;
  border-radius: 14px;
  height: 335px;
  margin: 2rem;
  position: relative;
  width: 335px;
  box-shadow: 0 10px 14px rgb(4, 12, 4), 0 8px 12px rgb(2, 21, 2);
  text-align: left;
}

.card:hover {
  box-shadow: 0 10px 14px rgb(189, 3, 3), 0 8px 12px rgb(189, 2, 2);
}

.card > .img-container {
  height: 90%;
  overflow: hidden;
  border-radius: 12px;
  padding-top: 10%;
  text-align: center;
  /* background:rgb(31, 32, 32); */
  background-image: radial-gradient(lawngreen 14%, rgb(27, 165, 27) 30%, rgb(2, 65, 2) 70%);
}
.card > .img-container > img {
  width: 65%
}

.card > .img-container:hover {
  background-image: linear-gradient(3600deg, #333, blue);
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 10px;
}
