.title {
  font-family: 'Knewave', cursive;
  font-size: 65px;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 6px black, 0 0 35px green, 0 0 8px black;
  margin-bottom: 50px;
  letter-spacing: 1rem;
}
